@using TeamManagementApp.Controllers;
@inject UserManager<AppUser> UserManager
@model List<KanbanData>
@{
	ViewData["Title"] = "Home";   
}
<link rel="stylesheet" href="~/css/kanban/kanban.css">

@*kanban board html structure with syncfusion ui components*@
<div style="width:100%; margin: 0 auto;">
	<div id="card" class="card">
		<div id="card-header-wrapper">
			<div id="card-header" class="card-header d-flex justify-content-between align-items-center">
				<h4 class="card-title" >Kanban Board</h4>
				<div class="d-flex justify-content-end align-items-center" >
					<button id="printButton" class="btn btn-secondary" style="margin-right: 10px;">
						<img src="/icons/printer32-darkmode.png" alt="Printer icon" style="width: 20px; height: 20px;">
					</button>
					<form id="reset-form" asp-area="" asp-controller="Home" asp-action="ResetBoard" method="post" onsubmit="return confirmReset();">
						<button type="submit" class="btn btn-danger">Reset Board</button>
					</form>
				</div>
			</div>
		</div>
		<div id="card-body" class="card-body">
			<div class="content-wrapper">
				<ejs-kanban id="Kanban" keyField="Status" created="onKanbanCreated">
					<e-data-manager url="/Home/LoadCard" updateUrl="/Home/UpdateCard" removeUrl="/Home/RemoveCard" insertUrl="/Home/InsertCard" adaptor="UrlAdaptor" crossDomain="false"></e-data-manager>
					<e-kanban-columns>
						<e-kanban-column headerText="To Do" keyField="Open" showAddButton="true"></e-kanban-column>
						<e-kanban-column headerText="In Progress" keyField="InProgress"></e-kanban-column>
						<e-kanban-column headerText="In Review" keyField="Review"></e-kanban-column>
						<e-kanban-column headerText="Done" keyField="Close"></e-kanban-column>
					</e-kanban-columns>
					<e-kanban-cardsettings headerField="RankId" contentField="Summary" template="#cardTemplate" selectionType="Multiple"></e-kanban-cardsettings>
					<e-kanban-dialogsettings template="#dialogTemplate"></e-kanban-dialogsettings>
					@if (ViewBag.SwimlanesEnabled)
					{
						<e-kanban-swimlanesettings keyField="AssigneeId" textField="Assignee" showEmptyRow=true allowDragAndDrop="true"></e-kanban-swimlanesettings>
					}
					<e-kanban-stackedHeaders>
						<e-kanban-stackedHeader text="To Do" keyFields="Open"></e-kanban-stackedHeader>
						<e-kanban-stackedHeader text="Development Phase" keyFields="InProgress, Review"></e-kanban-stackedHeader>
						<e-kanban-stackedHeader text="Done" keyFields="Close"></e-kanban-stackedHeader>
					</e-kanban-stackedHeaders>
				</ejs-kanban>
			</div>
		</div>
	</div>
</div>

@*kanban card content html structure*@
<script id="cardTemplate" type="text/x-jsrender">
	<table class="card-template-wrap">
		<colgroup>
			<col style="width:15%">
			<col style="width:85%">
		</colgroup>
		<tbody>
			<tr>
				<td class="card-icon-wrap">
					<div class="card-icon e-icons ${Status}"></div>
				</td>
				<td class="card-details-wrap">
					<table>
						<tbody>
							<tr>
								<td class="CardHeader">Task:</td>
								<td>${RankId}</td>
							</tr>
							<tr>
								<td class="CardHeader">Summary:</td>
								<td>${Summary}</td>
							</tr>
							<tr>
								<td class="CardHeader">Assigned by:</td>
								<td>${AssignedBy}</td>
							</tr>
							<tr>
								<td class="CardHeader">Assignee:</td>
								<td>${Assignee}</td>
							</tr>
							<tr>
								<td class="CardHeader">Priority:</td>
								<td>${Priority}</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</script>

@*kanban card creation/editing dialog html structure*@
<script id="dialogTemplate" type="text/x-jsrender">
	<div>
		<table class="custom-dialog-table">
			<tbody>
				<tr style="display: none;">
					<td class="custom-dialog-label">ID:</td>
					<td>
						<input type="hidden" class="e-field e-input" id="Id" name="Id" value="${Id}" disabled required />
					</td>
				</tr>
				<tr>
					<td class="custom-dialog-label">Task:</td>
					<td>
						<input type="text" class="e-field e-input" id="RankId" name="RankId" value="${RankId}" disabled required />
					</td>
				</tr>
				<tr>
					<td class="custom-dialog-label">Status:</td>
					<td>
						<select id="Status" name="Status" class="e-field">
							<option value="Open">Open</option>
							<option value="InProgress">InProgress</option>
							<option value="Review">Review</option>
							<option value="Close">Close</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="custom-dialog-label">Summary:</td>
					<td>
						<textarea class="e-field e-input" id="Summary" name="Summary">${Summary}</textarea>
					</td>
				</tr>
				<tr>
					<td class="custom-dialog-label">Assigned By:</td>
					<td>
						<select id="AssignedById" name="AssignedById" class="e-field" value="${AssignedById}">
							@foreach (var user in UserManager.Users)
							{
								<option value="@user.Id" selected>@user.FullName</option>
							}
						</select>
					</td>
				</tr>
				<tr>
					<td class="custom-dialog-label">Assignee:</td>
					<td>
						<select id="AssigneeId" name="AssigneeId" class="e-field" value="${AssigneeId}">
							@foreach (var user in UserManager.Users)
							{
								<option value="@user.Id" selected>@user.FullName</option>
							}
						</select>
					</td>
				</tr>
				<tr>
					<td class="custom-dialog-label">Priority:</td>
					<td>
						<select id="Priority" name="Priority" class="e-field">
							<option value="Low">Low</option>
							<option value="Medium">Medium</option>
							<option value="High">High</option>
							<option value="Critical">Critical</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</script>

<script>
	// data binding for syncfusion kanban
	var kanbanObj;	
	function onKanbanCreated() {
		kanbanObj = this;
	}

	// JavaScript to print kanban board content when clicking on the print button
	document.getElementById('printButton').addEventListener('click', function () {
		printCardBody();
	});

	function printCardBody() {
		const cardBody = document.querySelector('.card-body').cloneNode(true);

		const printWindow = window.open('', '', 'width=1400,height=600');
		printWindow.document.open();
		printWindow.document.write('<html><head><title>Print</title></head><body>');

		printWindow.document.body.appendChild(cardBody);

		printWindow.document.write('</body></html>');
		printWindow.document.close();
		printWindow.print();
	}

	// JavaScript to check if the client is sure about reseting the Kanbard Board content
	function confirmReset() {
		Swal.fire({
			title: 'Are you sure?',
			text: 'This action will reset the board. This cannot be undone.',
			icon: 'warning',
			showCancelButton: true,
			confirmButtonText: 'Yes, reset it!',
			cancelButtonText: 'Cancel',
			reverseButtons: false
		}).then((result) => {
			if (result.isConfirmed) {
				// Submit the form if confirmed
				document.getElementById('reset-form').submit();
			}
		});
		return false; // Prevent form submission by default
	}

	// JavaScript to track horizontal scroll and adjust left position of the wrapper
	var cardHeaderWrapper = document.getElementById('card-header-wrapper');

	window.addEventListener('load', function () {
		var scrollLeft = cardHeaderWrapper.scrollLeft;
		cardHeaderWrapper.style.left = -scrollLeft + 'px';
	});
</script>



@*Work-in-progress*@
<script>
	var connection = new signalR.HubConnectionBuilder().withUrl("/kanbanHub").build();

	connection.on("ReceiveUpdate", function () {
		refreshKanbanData();
	});

	connection.start().then(function () {
		console.log("Connected to SignalR hub");
	}).catch(function (err) {
		console.error(err.toString());
	});

	// Function to refresh Kanban data when updates are received
	function refreshKanbanData() {
    // Fetch the updated Kanban data from the server using an HTTP request
    fetch('/Home/LoadCard')
        .then(response => response.json())
        .then(data => {
            updateKanbanBoard(data);
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
}

	function updateKanbanBoard(data) {
    if (kanbanObj) {
        // Update the Kanban data source with the new data
        kanbanObj.dataSource = data;

        // Refresh the Kanban board to reflect the changes
        kanbanObj.refresh();
    }
}

</script>










