@using TeamManagementApp.Models
@model Team

<!-- The Modal -->
<div id="team-assign-modal" class="modal">
	<div class="modal-content">
		<!-- Form -->
		<div class="row justify-content-center">
			<div>
				<div class="card">
					<div class="card-header" style="text-align: center;">
						<h5 class="card-title">Assign a member to the team</h5>
					</div>
					<div class="card-body">
						<form asp-controller="Team" asp-action="AssignMembers" method="post">
							<div class="mb-3">
								<label for="user-email" class="form-label">User's Email:</label>
								<input type="email" class="form-control" id="user-email" name="" required placeholder="Enter user's email...">
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-success">Send Invite</button>
								<!-- Close button -->
								<button id="close-assign-btn" class="btn btn-secondary">Close</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<style>
	/* Styles for the modal */
	.modal {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
		z-index: 1;
		justify-content: center; /* Center content vertically */
		align-items: center; /* Center content horizontally */
	}

	.modal-content {
		background-color: white;
		padding: 0px;
		border-radius: 5px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		max-width: 400px;
	}

	.resizable-textarea {
		resize: vertical; /* Allows vertical resizing */
		min-height: 80px; /* Minimum height to start with */
		max-height: 200px; /* Maximum height when expanded */
		overflow-y: auto; /* Add a vertical scrollbar if necessary */
	}
</style>