@model List<AppUser>

@*<div id="members-list" class="card-body">
    @foreach (var user in Model)
    {
        <a href="#" class="user-details-link" data-user-id="@user.Id">@user.FullName<br /></a>
        @Html.Partial("_UserDetails", user)
    }
</div>*@

bla bla bla
