@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout"; // Include the layout from the Login page
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">@ViewData["Title"]</h2>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="mb-3">
                            <label for="inputFirstName" class="form-label">First Name</label>
                            <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" id="inputFirstName" placeholder="First Name" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="inputLastName" class="form-label">Last Name</label>
                            <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" id="inputLastName" placeholder="Last Name" />
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email</label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" id="inputEmail" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword" class="form-label">Password</label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" id="inputPassword" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" id="inputConfirmPassword" placeholder="Confirm Password" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button id="registerSubmit" type="submit" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
