@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
    Layout = "_Layout"; 
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">@ViewData["Title"]</h3>
                    </div>
                    <div class="card-body">
                        <p>Please provide the email address that you used when you signed up. We will send you a confirmation email.</p>
                        <br />
                        <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email:</label>
                            <input asp-for="Input.Email" class="form-control" aria-required="true" id="inputEmail" placeholder="name@example.com" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">Resend</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
