html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.active-link {
    background-color: #f0f0f0; /* Greyish background color */
    color: #333; /* Text color for active link */
}