html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*settings nav active link*/
.active-link {
    background-color: #f0f0f0; /* Greyish background color */
    color: #333; /* Text color for active link */
    border: 1px solid #ccc;
}

.list-group-item.active {
    background-color: #f0f0f0; /* Greyish background color */
    color: #333; /* Text color for active link */
    border: 1px solid #ccc;
}


/*bootstrap button styles*/



.btn-primary {
    background-color: #5DB8FF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
}

.btn-primary:hover {
    background-color: #ADDBFF;
}

.btn-secondary {
    background-color: #868686;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
}

.btn-secondary:hover {
    background-color: #B8B8B8;
}

.btn-success {
    background-color: #49B242;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
}

.btn-success:hover {
    background-color: #88F181;
}

.btn-danger {
    background-color: #f44336;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
}

    .btn-danger:hover {
        background-color: #F28C85;
    }




.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icons,
.year {
    line-height: 2;
    margin: 0px; /* Adjust the margin as needed */
}


.nav-item {
    color: grey;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.nav-item.active {
    color: black; /* Font color for the selected page */
}

.navbar-nav .nav-item.active {
    border-bottom: 2px solid dodgerblue;
}

.navbar-nav .nav-item.active .nav-link {
    color: dodgerblue;
}

.navbar-toggler{
    margin: 8px 2px;
}

.navbar-brand {
    padding-bottom: 2px;
}
/* Custom styles for the dropdown */
.custom-dropdown {
    width: auto; /* Adjust the width as needed */
    background-color: #fff; /* Background color */
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Rounded corners */
}

/* Custom styles for dropdown items */
.custom-dropdown-item {
    padding: 8px 12px; /* Adjust padding as needed */
    color: grey; /* Text color */
}

.custom-dropdown-item.active {
    color: dodgerblue;
    background-color: #fff;
}

/* Hover effect for dropdown items */
.custom-dropdown-item:hover {
    background-color: #f8f8f8; /* Background color on hover */
}

.card-title {
    font-weight: 100;
}

.resizable-textarea {
    resize: vertical; /* Allows vertical resizing */
    min-height: 80px; /* Minimum height to start with */
    max-height: 200px; /* Maximum height when expanded */
    overflow-y: auto; /* Add a vertical scrollbar if necessary */
}








